{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}
    signingkey = "BA1F5693906E61BF"

[git]
    autoCommit = true
    autoPush = false

[diff]
    command = "delta"
