{{- if eq .chezmoi.os "darwin" -}}
fish_add_path /opt/homebrew/bin
{{- end }}
fish_add_path ~/bin
fish_add_path ~/.fnm
fish_add_path ~/.cargo/bin
fish_add_path ~/.cabal/bin
fish_add_path ~/.ghcup/bin
fish_add_path ~/.local/bin
fish_add_path ~/.npm-global/bin
