#!/bin/bash

set -eufo pipefail

{{ $taps := list
   "felixkratz/formulae"
   "homebrew/bundle"
   "homebrew/cask-fonts"
   "koekeishiya/formulae" -}}

{{ $brews := list
   "age"
   "awscli"
   "bazelisk"
   "buf"
   "btop"
   "bumpversion"
   "curl"
   "cmake"
   "docker"
   "dust"
   "fd"
   "fnm"
   "git"
   "git-delta"
   "git-gui"
   "git-lfs"
   "gpg2"
   "hledger"
   "ibazel"
   "just"
   "jq"
   "koekeishiya/formulae/skhd"
   "koekeishiya/formulae/yabai"
   "less"
   "nushell"
   "nvm"
   "neovim"
   "pandoc"
   "pueue"
   "pulumi"
   "protobuf"
   "ranger"
   "shellcheck"
   "starship"
   "tmux"
   "tokei"
   "tree-sitter"
   "wget"
   "zoxide" -}}

{{ $casks := list
   "1password"
   "1password-cli"
   "amethyst"
   "arc"
   "blender"
   "discord"
   "jetbrains-toolbox"
   "font-jetbrains-mono-nerd-font"
   "google-drive"
   "gpg-suite-no-mail"
   "iterm2"
   "kap"
   "karabiner-elements"
   "little-snitch"
   "micro-snitch"
   "orbstack"
   "reminders-menubar"
   "readdle-spark"
   "spotify"
   "tailscale"
   "timing"
   "slack"
   "whatsapp" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

