{{ if eq .osid "linux-ubuntu" -}}

{{ $packages := list
     "bat"
     "btop"
     "build-essential"
     "curl"
     "fd-find"
     "fzf"
     "fish"
     "git"
     "git-lfs"
     "jq"
     "openssh-server"
     "ripgrep"
     "shellcheck" -}}

{{ $snaps := list -}}

{{ $classicSnaps := list -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ if lookPath "snap" }}
{{   range $snaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install {{ . }}
{{   end }}
{{   range $classicSnaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install --classic {{ . }}
{{   end }}
{{ end }}

{{ end -}}
