{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

{{ $sudo }}apt install -y software-properties-common
{{ $sudo }}add-apt-repository ppa:neovim-ppa/stable
{{ $sudo }}apt update -y
{{ $sudo }}apt install -y neovim

